@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 26 93% 78%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%; 
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

/* Dashboard */
.dashboard{
  @apply min-h-screen w-full flex;
}

.dashboard__content{
  @apply flex-grow min-h-screen overflow-y-auto;
}

.dashboard__body{
  @apply px-8 py-4;
}

/* Dashboard Navbar */
.dashboard-navbar {
  @apply w-full mb-6 px-16 sm:px-24 pt-7 z-10;
}

.dashboard-navbar__container {
  @apply flex justify-end items-center w-full my-3;
}

.dashboard-navbar__actions {
  @apply flex items-center gap-3 sm:gap-6
}

/* Dashboard Sidebar */
.dashboard-sidebar{
  @apply h-screen shadow-xl border-none shadow-gray-400;
}

.dashboard-sidebar__header-menu {
  @apply mt-5;
}

.dashboard-sidebar__header-menu-button{
  @apply flex w-full p-2 rounded-xl transition-colors;
}

.dashboard-sidebar__header-logo-container{
  @apply flex justify-between items-center gap-3 px-2 h-auto;
}

.dashboard-sidebar__header-logo-wrapper{
  @apply flex items-center gap-3;
}

.dashboard-sidebar__header-logo{
  @apply rounded-xl transition duration-200 w-auto;
}

.dashboard-sidebar__header-title{
  @apply text-lg font-extrabold;
}

.dashboard-sidebar__collapse-icon{
  @apply text-gray-800 ml-auto;
}

.dashboard-sidebar__nav-menu{
  @apply mt-7;
}

.dashboard-sidebar__nav-item{
  @apply px-4;
}

.dashboard-sidebar__nav-button{
  @apply rounded-xl gap-2 h-auto px-2;
}

.dashboard-sidebar__nav-link{
  @apply relative flex items-center px-5;
}

.dashboard-sidebar__nav-text{
  @apply font-medium text-base ml-1;
}

.dashboard-sidebar__nav-icon{
  @apply w-8 h-8;
}

.dashboard-sidebar__footer-menu-item {
  @apply mb-4;
}

.dashboard-sidebar__footer-menu-trigger{
  @apply w-full flex justify-between items-center p-2 hover:bg-[hsl(var(--sidebar-accent))] rounded-xl transition-colors;
}

.dashboard-sidebar__footer-user{
  @apply flex items-center gap-4;
}

.dashboard-sidebar__footer-user-info{
  @apply flex flex-col text-sm;
}

.dashboard-sidebar__footer-user-avatar{
  @apply rounded-xl;
}

.dashboard-sidebar__footer-user-name{
  @apply font-semibold;
}

.dashboard-sidebar__footer-user-menu-item{
  @apply flex gap-2;
}